<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ClinicalCodingSolutionsConnectionString" connectionString="Data Source=23.99.208.115\QA,55501;Initial Catalog=RevCycleDB;Persist Security Info=True;User ID=rcmsqlqa;Password=LmKBF$xVRnEw" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AppName" value="TSystem_Batch_Processing_App" />

    <!-- Azure QA -->
    <add key="DBUserID" value="rcmsqlqa" />
    <add key="DBPassword" value="LmKBF$xVRnEw" />
    <add key="DBDataSource" value="23.99.208.115\QA,55501" />
    <add key="DBInitialCatalog" value="RevCycleDB" />
    
    <add key="MailServer" value="remote.clinicalcodingsolutions.com" />
    <add key="POP3MailServer" value="mail.clinicalcodingsolutions.com" />
    <add key="POP3UserID" value="ccsach" />
    <add key="POP3Password" value="ca041310!" />
    <add key="SMTPServer" value="outbounds8.obsmtp.com" />
    <add key="ReportViewerUser" value="administrator" />
    <add key="ReportViewerPassword" value="ccspass01" />
    <add key="ReportViewerDomain" value="ccs" />
    <add key="ReportServerURL" value="https://www.clinicalcodingsolutions.com/ReportServer" />
    <add key="CommandTimeout" value="0" />
    <add key="ExcelConnectionString" value="Driver={Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)};Dbq=%1" />
    <add key="ImportImageRowsToDeletePerIteration" value="200" />
    <add key="WebsiteURL" value="https://www.clinicalcodingsolutions.com/clinicalcodingsolutions" />
    <!--Production-->
    <!--<add key="WebsiteURL" value="https://www.clinicalcodingsolutions.com/ccstestsite/"/> -->
    <!--Test Site-->
    <add key="SMTPUser" value="sendmail" />
    <add key="SMTPPassword" value="sendpass1" />
    <add key="SMTPDomain" value="CCS" />
    <!--<add key="EmailAddress_IT" value="zCCSIT@tsystem.com" />-->
    <add key="EmailAddress_SystemAdmin" value="ACSMessenger@tsystem.com" />
    <add key="EmailAddress_ReportsFrom" value="ACSReports@tsystem.com" />
    <add key="EmailAddress_Batch" value="ACSMessenger@tsystem.com" />
    <add key="EmailLink_MainContact" value="mailto:contact@clinicalcodingsolutions.com" />
    <add key="EmailLink_Resumes" value="mailto:jblinzler@tsystem.com" />
    <add key="EmailAddress_MainContact" value="contact@clinicalcodingsolutions.com" />
    <add key="EmailAddress_Resumes" value="jblinzler@tsystem.com" />
    <add key="ServerPathToCCSLogo" value="d:\ccsweb\clinicalcodingsolutions\topLogo.jpg" />
    <!--<add key="ServerPathToCCSLogo" value="C:\CCSWeb\CCSWebApp\topLogo.jpg"/>-->

    <!-- License key for Pop3, Imap, and Smtp components -->
    <add key="MailBee.Pop3Mail.Pop3.LicenseKey" value="MN200-3CF4F55FF4CFF47DF4CF3320FDA3-6135" />
    <!--add key="MailBee.Pop3Mail.Pop3.LicenseKey" value="MN200-3DF5F51DF5D4F585F5FE48A1FFE2-CC69"/-->
    <add key="MailBee.ImapMail.Imap.LicenseKey" value="MN200-3DF5F51DF5D4F585F5FE48A1FFE2-CC69" />
    <add key="MailBee.SmtpMail.Smtp.LicenseKey" value="MN200-3DF5F51DF5D4F585F5FE48A1FFE2-CC69" />
    <add key="IronPdf.LicenseKey" value="IRONPDF.CORROHEALTH.IRO241025.2838.96119-736971A279-DAUQU455M4CXVNO-W3DMGAL3JX7F-LOOVXYR2INAL-XKR7LYENRXZ7-TPGNZW5XUI52-OWK2RZ-LAKTZ7AHBTGQEA-IRONPDF.DOTNET.PLUS.SAAS.OEM.1YR-4WGX35.RENEW.SUPPORT.25.OCT.2025" />
	<add key="FacilityChartArchivePath" value="C:\\RCP_Documents\\FacilityChartArchive" />
	<add key="FacilityChartArchiveRetentionYears" value="10" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ionic.Zip" publicKeyToken="edbe51ad942a3f5c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.1.8" newVersion="1.9.1.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Permissions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
