<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
	<add key="AppName" value="TSystem_Batch_Processing_App_Backup"/>

	<!-- Production -->
	<add key="DBUserID" value="XXXXXX" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	<add key="DBPassword" value="XXXXXX" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	<add key="DBDataSource" value="XXXXXX" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	<add key="DBInitialCatalog" value="XXXXXX" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	<add key="MailServer" value="remote.clinicalcodingsolutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	<add key="SMTPServer" value="PRCMSMTPAZ01.RCM.LOCAL" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="ReportViewerUser" value="rcmsqlreports" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="ReportViewerPassword" value="N7#!Kr$Wuf" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="ReportViewerDomain" value="rcm" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="ReportServerURL" value="http://PRCMSQLAZ02.rcm.local/ReportServer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="CommandTimeout" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="ExcelConnectionString" value="Driver={Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)};Dbq=%1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="MicrosoftAccessConnectionString" value="Driver={Microsoft Access Driver (*.xls)};Dbq=%1;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	<add key="ImportImageRowsToDeletePerIteration" value="200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="FailedLoginAttemptsMaxCount" value="6" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="WebsiteURL" value="https://acs.tsystem.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="ServerPathToCCSLogo" value="D:\ccsweb\clinicalcodingsolutions\topLogo.jpg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="MaxPoolSize" value="200"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="UseConnectionPooling" value="True" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	<add key="SMTPUser" value="sendmail" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="SMTPPassword" value="sendpass1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="SMTPDomain" value="CCS" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="EmailAddress_SystemAdmin" value="ACSMessenger@corrohealth.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	<add key="EmailAddress_ReportsFrom" value="ACSReports@corrohealth.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	<add key="EmailAddress_Batch" value="ACSMessenger@corrohealth.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	<add key="EmailLink_MainContact" value="mailto:contact@clinicalcodingsolutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	<add key="EmailLink_Resumes" value="mailto:jblinzler@tsystem.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	<add key="EmailAddress_MainContact" value="contact@clinicalcodingsolutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	<add key="EmailAddress_Resumes" value="jblinzler@tsystem.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	<add key="ChartImageFileLocation" value="\\PRCMDOCAZ01\ACSDOCS_AZ\RCP_Documents\Charts\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	<add key="ReportServerLink" value="PRCMSQLAZ02" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="ProcessDomain" value="rcm" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="ProcessUserName" value="rcmbatchuser" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="ProcessPassword" value="GbNS@m$xR#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="VisualCronServerAddress" value="PRCMBATAZ01.rcm.local" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="HelpDeskReplyToEmail" value="helpdesk@tsystem.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	<add key="HelpDeskPhoneNumber" value="855.791.5549" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

	<!-- License key for Pop3, Imap, and Smtp components -->
	<add key="MailBee.Pop3Mail.Pop3.LicenseKey" value="MN200-3CF4F55FF4CFF47DF4CF3320FDA3-6135" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	<add key="MailBee.ImapMail.Imap.LicenseKey" value="MN200-3DF5F51DF5D4F585F5FE48A1FFE2-CC69" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	<add key="MailBee.SmtpMail.Smtp.LicenseKey" value="MN200-3DF5F51DF5D4F585F5FE48A1FFE2-CC69" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />


  </appSettings>
</configuration>
