#btnFitWidth{background-image:url(../icons/fitWidth.gif)}
#btnView1to1{background-image:url(../icons/1to1Ratio.gif)}
#btnFit{background-image:url(../icons/fitDocument.gif)}
#btnPan{background-image:url(../icons/pan.gif)}
#btnZoomIn{background-image:url(../icons/zoomIn.gif)}
#btnZoomOut{background-image:url(../icons/zoomOut.gif)}

#btnRotateLeft90{background-image:url(../icons/rotateCCW.gif)}
#btnRotate180Degrees{background-image:url(../icons/rotate180.gif)}
#btnRotateRight{background-image:url(../icons/rotateCW.gif)}
#btnInvertImg{background-image:url(../icons/imageInvert.gif)}
#btnErode{background-image:url(../icons/erode.gif)}
#btnDilate{background-image:url(../icons/dilate.gif)}
#btnDeskew{background-image:url(../icons/deskew.gif)}
#btnDespeckle{background-image:url(../icons/despeckle.gif)}
#btnRemoveBorder{background-image:url(../icons/removeBorder.gif)}
#btnDotRemove{background-image:url(../icons/dotRemove.gif)}
#btnRemoveHolePunch{background-image:url(../icons/removeHolePunch.gif)}
#btnInvertText{background-image:url(../icons/textInvert.gif)}
#btnLineRemove{background-image:url(../icons/removeLines.gif)}
#btnSmooth{background-image:url(../icons/smooth.gif)}

#btnChangeContrast{background-image:url(../icons/contrast.gif);}
#btnAutoCrop{background-image:url(../icons/crop.gif);}
#btnEmboss{background-image:url(../icons/emboss.gif);}
#btnfreeHandWave{background-image:url(../icons/freeHandWave.gif);}
#btnGammaCorrect{background-image:url(../icons/gamma.gif);}
#btnGaussian{background-image:url(../icons/gaussian.gif);}
#btnGrayscale{background-image:url(../icons/grayscale.gif);}
#btnHalfTone{background-image:url(../icons/halftone.gif);}
#btnHistogramContrast{background-image:url(../icons/histogram.gif);}
#btnChangeHue{background-image:url(../icons/hueAdjust.gif);}
#btnRemapHue{background-image:url(../icons/hueRemapping.gif);}
#imageInvert{background-image:url(../icons/imageInvert.gif);}
#btnMedian{background-image:url(../icons/medianFilter.gif);}
#btnRotate{background-image:url(../icons/rotate.gif);}
#btnChangeSaturation{background-image:url(../icons/saturation.gif);}
#btnSharpen{background-image:url(../icons/sharpen.gif);}
#btnSpatialFilter{background-image:url(../icons/spatialFilter.gif);}
#btnUnsharpMask{background-image:url(../icons/unsharpMask.gif);}
#btnChangeIntensity{background-image:url(../icons/ChangeIntensity.gif);}

#btnFlipHor{background-image:url(../icons/flipHorizontal.gif)}
#btnFlipVer{background-image:url(../icons/flipVertical.gif)}

#btnResetImage{background-image:url(../icons/resetImage.gif)}
