@import url("buttons.css");

body{
  background: white;
  margin: 0px;
  font-family: verdana, arial, sans;
  font-size: 8.5pt;
}
#infoBar{
  color: #eee;
  background: #333;
  height: 35px;
  line-height: 30px;
  width: 100%;
  margin: 10px 0px 10px 0px;
  padding: 0px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
#infoBar h1{
  float: left;
  width: 400px;
  font-size: 10pt;
  margin: 3px 10px;
}
#infoBar div.section{
  margin: 0px 10px;
  float: left;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  border-right: 2px groove #000;
  border-left: 2px groove #000;
}

#infoBar div.formats{
  margin: 0px 10px 0px 0px;
  float: left;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  padding:0px 0px 0px 0px;
  border-right: 2px groove #000;
  border-left: 0px groove #000;
}

#infoBar div.section a{
  width: 20px;
  height: 20px;
  display: block;
  vertical-align: middle;
  float: left;
  margin: 3px 5px;
  border: 1px solid #777;
  background-position: -20px 0px;
}
#infoBar div.section a:hover, #infoBar div.section a.hover{
  background-position: 0px 0px;
}
#infoBar div.section label{
  float: left;
  margin: 0px 15px;
}
#infoBar div.section input.checkbox{
  float: left;
  width: 20px;
  margin: 5px 5px;
}
#zoom{width: 370px;}

#infoBar2{
  color: #eee;
  background: #333;
  height: 35px;
  line-height: 30px;
  width: 100%;
  margin: 10px 0px 10px 0px;
  padding: 0px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
#infoBar2 h1{
  float: left;
  width: 400px;
  font-size: 10pt;
  margin: 3px 10px;
}
#infoBar2 div.section2{
  margin: 0px 10px;
  float: left;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  border-right: 2px groove #000;
  border-left: 2px groove #000;
}

#infoBar2 div.formats2{
  margin: 0px 10px 0px 0px;
  float: left;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  padding:0px 0px 0px 0px;
  border-right: 2px groove #000;
  border-left: 0px groove #000;
}

#infoBar2 div.section2 a{
  width: 28px;
  height: 28px;
  display: block;
  vertical-align: middle;
  float: left;
  margin: 3px 5px;
  border: 1px solid #777;
  background-position: -28px 0px;
}
#infoBar2 div.section2 a:hover, #infoBar div.section a.hover{
  background-position: 0px 0px;
}
#infoBar2 div.section2 label{
  float: left;
  margin: 0px 15px;
}
#infoBar2 div.section2 input.checkbox{
  float: left;
  width: 20px;
  margin: 5px 5px;
}

#zoom2{width: 370px;}
#useDPI{width: 120px;}

div.toolbar{
  color: #eee;
  background: #333;
  height: 30px;
  line-height: 30px;
  width: 100%;
  margin: 10px 0px 10px 0px;
  padding: 0px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

div.toolbar {width:78px; }/*IE6*/
html>/**/body div.toolbar {width: 76px;}/*Firefox and operah*/

div.toolbar div.section{
  margin: 0px 10px;
  float: left;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  border-right: 2px groove #000;
  border-left: 2px groove #000;
}
html>/**/body div.toolbar div.section{padding: 0px 0px;}/*Firefox and operah*/
div.toolbar a{
  display: block;
  width: 30px;
  height: 30px;
  margin: 2px;
  float: left;
  background-position: -30px 0px;
  border: 2px solid #333;
}

.recognizeButton  
{
  background-image: url(../icons/OCR.gif);
  display: block;
  width: 30px;
  height: 30px;
  margin: 2px;
  float: left;
  background-position: -30px 0px;
  border: 2px solid #333;
}

.recognizeButton :hover
{
  background-image: url(../icons/OCR.gif);
  background-position: 0px 0px;
}

.recognizeAllButton  
{
  background-image: url(../icons/OCR_All.gif);
  display: block;
  width: 30px;
  height: 30px;
  margin: 2px;
  float: left;
  background-position: -30px 0px;
  border: 2px solid #333;
}

.recognizeAllButton :hover
{
  background-image: url(../icons/OCR_All.gif);
  background-position: 0px 0px;
}

div.toolbar a:hover, div.toolbar a.hover{
  background-position: 0px 0px !important;
}

div.toolbar a:hover, div.toolbar a.hover{
  background-position: 0px 0px !important;
}
div.toolbar hr{
  width: 100%;
}